html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  background-color: #eee;
  font-family: Helvetica, sans-serif; }

#container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden; }
  #container::after {
    clear: both;
    content: "";
    display: table; }

#ml_logo {
  width: 10%;
  margin-left: 4%;
  margin-top: 20px; }

#logo {
  display: block;
  height: 400px;
  margin: 50px auto 50px; }

h1 {
  text-align: center; }

#intro {
  width: 60%;
  margin: 6% auto;
  font-size: 1.1em; }

#sec1, #sec3 {
  background-color: #000;
  color: #fff; }
  #sec1:before, #sec3:before {
    display: block;
    content: "";
    border-top: 80px solid #fff;
    border-right: 2000px solid transparent; }
  #sec1:after, #sec3:after {
    display: block;
    content: "";
    border-bottom: 100px solid #fff;
    border-right: 2000px solid transparent; }
  #sec1 p, #sec3 p {
    font-size: 1.1em; }
    @media screen and (min-width: 600px) {
      #sec1 p, #sec3 p {
        padding: 50px 0 50px 80px; } }
    @media screen and (max-width: 600px) {
      #sec1 p, #sec3 p {
        padding: 50px 60px 10px 60px; } }
  @media screen and (min-width: 600px) {
    #sec1 iframe, #sec3 iframe {
      padding: 20px 80px 20px 0; } }
  @media screen and (max-width: 600px) {
    #sec1 iframe, #sec3 iframe {
      padding: 10px 60px 50px 60px; } }

#sec2 p {
  font-size: 1.1em; }
  @media screen and (min-width: 600px) {
    #sec2 p {
      padding: 50px 80px 50px 0;
      text-align: right; } }
  @media screen and (max-width: 600px) {
    #sec2 p {
      padding: 10px 60px 0 60px; } }
@media screen and (min-width: 600px) {
  #sec2 iframe {
    padding: 0 0 10px 80px; } }
@media screen and (max-width: 600px) {
  #sec2 iframe {
    padding: 0 60px 10px 60px; } }

#sec1, #sec2, #sec3 {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #sec1::after, #sec2::after, #sec3::after {
    clear: both;
    content: "";
    display: table; }
  #sec1 p, #sec2 p, #sec3 p {
    display: inline-block; }
    @media screen and (min-width: 600px) {
      #sec1 p, #sec2 p, #sec3 p {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 47.58542%; }
        #sec1 p:last-child, #sec2 p:last-child, #sec3 p:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 600px) {
      #sec1 p, #sec2 p, #sec3 p {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 100%; }
        #sec1 p:last-child, #sec2 p:last-child, #sec3 p:last-child {
          margin-right: 0; }
        #sec1 p:nth-child(1n), #sec2 p:nth-child(1n), #sec3 p:nth-child(1n) {
          margin-right: 0; }
        #sec1 p:nth-child(1n+1), #sec2 p:nth-child(1n+1), #sec3 p:nth-child(1n+1) {
          clear: left; } }
  @media screen and (min-width: 600px) {
    #sec1 iframe, #sec2 iframe, #sec3 iframe {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%; }
      #sec1 iframe:last-child, #sec2 iframe:last-child, #sec3 iframe:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 600px) {
    #sec1 iframe, #sec2 iframe, #sec3 iframe {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 100%; }
      #sec1 iframe:last-child, #sec2 iframe:last-child, #sec3 iframe:last-child {
        margin-right: 0; }
      #sec1 iframe:nth-child(1n), #sec2 iframe:nth-child(1n), #sec3 iframe:nth-child(1n) {
        margin-right: 0; }
      #sec1 iframe:nth-child(1n+1), #sec2 iframe:nth-child(1n+1), #sec3 iframe:nth-child(1n+1) {
        clear: left; } }

#sec4 {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #sec4::after {
    clear: both;
    content: "";
    display: table; }
  #sec4 #soundbites_intro {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold; }
  #sec4 #soundbites {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    #sec4 #soundbites:last-child {
      margin-right: 0; }
    #sec4 #soundbites .soundbite {
      position: relative;
      margin-top: 40px;
      height: 100px; }
      @media screen and (min-width: 600px) {
        #sec4 #soundbites .soundbite {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 46.28851%; }
          #sec4 #soundbites .soundbite:last-child {
            margin-right: 0; }
          #sec4 #soundbites .soundbite:nth-child(2n) {
            margin-right: 0; }
          #sec4 #soundbites .soundbite:nth-child(2n+1) {
            clear: left; } }
      @media screen and (max-width: 600px) {
        #sec4 #soundbites .soundbite {
          float: left;
          display: block;
          margin-right: 38.19821%;
          width: 100%; }
          #sec4 #soundbites .soundbite:last-child {
            margin-right: 0; }
          #sec4 #soundbites .soundbite:nth-child(n) {
            margin-right: 0; } }
      #sec4 #soundbites .soundbite p {
        padding: 0;
        margin: 0; }
      #sec4 #soundbites .soundbite .title {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px; }
      #sec4 #soundbites .soundbite .author, #sec4 #soundbites .soundbite .years {
        font-size: 16px; }
      #sec4 #soundbites .soundbite .author {
        margin-bottom: 2px; }
      #sec4 #soundbites .soundbite .years {
        color: #888; }
      #sec4 #soundbites .soundbite #player {
        position: absolute;
        top: 0;
        right: 0;
        border: 6px solid #000;
        height: 90px;
        width: 90px;
        background-color: white;
        text-align: center;
        font-size: 40px;
        padding-top: 17px;
        padding-left: 2px; }
        #sec4 #soundbites .soundbite #player.active {
          background-color: #000; }
        #sec4 #soundbites .soundbite #player .fa-pause {
          display: none;
          color: white; }
        #sec4 #soundbites .soundbite #player .fa-play {
          color: black; }

footer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  background-color: #000;
  margin-top: 80px;
  color: #FFF; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer p {
    text-align: center; }
    footer p a {
      text-decoration: none;
      color: white;
      font-weight: 600; }

/*# sourceMappingURL=index.css.map */
